:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

    --primario: #1a1a1a;
    --secundario: #db0303;
    --blanco: #ffffff;
    --primarioOscuro: #111111;
    --highlight: rgba(255,255,255,0.1);
    --angle: 0deg;
    --primarioLighter: #3b3b3b;
    --shadow-s: rgba(0,0,0,0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primarioOscuro);
  color: var(--blanco);
}
